/* Body */
body {
  background-color: #f8f9fa;
}

/* Navbar */

/* Jumbotron */
.jumbotron {
  background-image: url("./Pictures/im3rd-media-YY139ZX_Zas-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

/* About */
#about {
  height: 100vh;
  display: flex;
}

#about-img {
  width: 40vw;
  border-radius: 30%;
}

/* Reasons */
#reasons {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#reasons div img {
  opacity: 0.5;
}

/* Services*/
#services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#services ul {
  list-style: none;
}

/* References */
#references {
  height: 100vh;
}

/* Reviews */
#reviews {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2em;
}

#reviews img {
  opacity: 0.5;
}
/* Media Queries */
