/* Body */
body {
  background-color: #f8f9fa;
  position: relative;
  min-width: 900px;
  max-height: 100%;
}

html {
  font-size: 1.3rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.5rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.7rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.9rem;
  }
}

/* Navbar */

/* Jumbotron */
.jumbotron {
  background-image: url("./Pictures/im3rd-media-YY139ZX_Zas-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

/* About */
#about {
  min-height: 100vh;
  display: flex;
}

#about-img {
  width: 40vw;
  border-radius: 30%;
}

/* Reasons */
#reasons {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#reasons div img {
  opacity: 0.5;
}

/* Services*/
#services {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--cyan);
  color: var(--light);
}
#services ul {
  list-style: none;
  font-size: 2em;
  font-weight: lighter;
}

#services button {
  font-size: 1.5em;
}

.modal-dialog {
  max-width: 60vw;
}

/* References */
#references {
  min-height: 100vh;
}

/* Reviews */
#reviews {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  line-height: 2em;
}

#reviews img {
  opacity: 0.5;
}

/* Estimate */
#estimate {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3 ease background-color;
}

button[type="submit"]:hover {
  color: var(--cyan);
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#areas ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.success {
  background-color: var(--success);
  animation: status 4s ease forwards;
}

.error {
  background-color: var(--danger);
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
/* Media Queries */
